@page "/edit/{Id:int}"

<h3>Edit</h3>

<EditForm Model="@pokemonModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="display-name">
            Display name:
            <InputText id="display-name" @bind-Value="pokemonModel.DisplayName" />
        </label>
    </p>
    <p>
        <label for="name">
            Name:
            <InputText id="name" @bind-Value="pokemonModel.Name" />
        </label>
    </p>

     <p>
        <label for="max-health">
            Max Health Points:
            <InputNumber id="max-health" @bind-Value="pokemonModel.HealthPoints" />
        </label>
    </p>
    <p>
        Element Type:
        <div>
            @foreach (var eType in ElementType)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnElementTypeChange(eType, e.Value))" />@eType
                </label>
            }
        </div>
    </p>

    <p>
    <label>
        Current Pokemon image:
        <img src="data:image/png;base64, @(pokemonModel.ImageBase64)" class="img-thumbnail" title="@pokemonModel.DisplayName" alt="@pokemonModel.DisplayName" style="min-width: 50px; max-width: 150px"/>
    </label>
    </p>
    <p>
        <label>
            Pokemon image:
            <InputFile OnChange="@LoadImage" accept=".png" />
        </label>
    </p>
    <p>
        <label>
            Accept Condition:
            <InputCheckbox @bind-Value="pokemonModel.AcceptCondition" />
        </label>
    </p>

    <button type="submit">Submit</button>
</EditForm>