
<div class="pokemon"
     ondragover="event.preventDefault();"
     draggable="true"
     @ondragstart="@OnDragStart"
     @ondrop="@OnDrop"
     @ondragenter="@OnDragEnter"
     @ondragleave="@OnDragLeave">

    @if (Pokemon != null)
    {
       @if (!string.IsNullOrWhiteSpace(Pokemon.ImageBase64))
        {
            <div class="container2">
              <div id="card" style="background: radial-gradient(circle at 50% 0%, var(--@(Pokemon.ElementType[0])) 36%, rgb(255, 255, 255) 36%);">
                <p class="hp">
                  <span>HP</span>
                    @(Pokemon.HealthPoints)
                </p>
                <img src="data:image/png;base64, @(Pokemon.ImageBase64)" class="img-thumbnail" title="@Pokemon.DisplayName" alt="@Pokemon.DisplayName"  />

                <h2 class="poke-name">@(Pokemon.DisplayName)</h2>
                <div class="stats">
                  <div>
                    <h3>@(Pokemon.PointsAttack)</h3>
                    <p>Attaque</p>
                  </div>
                    <button onclick="@HealPokemon">Heal</button>
                  <div>
                    <h3>@(Pokemon.PointsDefense)</h3>
                    <p>Defense</p>
                  </div>
          
                </div>
       
 
             </div>
            </div>
        }
        else
        {
            <img src="images/default.png" class="img-thumbnail" title="@Pokemon.DisplayName" alt="@Pokemon.DisplayName" style="width: 50px; height: 50px"/>
        }
        
    }
</div>



